:root {
    /* colors */
    --dk-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --vry-dk-blue: hsl(212, 21%, 14%);
    --dk-gray-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* components */

    /* font size */
    --fs-400: 0.875rem;

    /* font weight */
    --fw-medium: 500;
    --fw-bold: 700;
}